

<li  id="comment-<%= comment._id %>" class="comment">

    <% if(locals.user) { %>
    <a href="/likes/toggle/Comment,<%= comment._id %>" class="comment-like-Btn"> <span class="count"><%= comment.likes.length %></span>Likes</a>
    <% } else { %> 
        <p style="color: orangered;"><%= comment.likes.length %> Likes</p>    
    <% } %>    
    <div class="user-avatar-comments">

            <% if(comment.user.avatar) { %>
                <img src="<%=comment.user.avatar%>" alt="<%=comment.user.name%>" height="100%" width="100%" style="border-radius: 50%;">
            <% } %>

        </div>
    
    <div class="username-content-container">
        <p class="comment-username"><%= comment.user.name %></p>
        <div class="comment-content"><p><%= comment.content %></p></div>
    </div>
    <%if ((locals.user && locals.user.id==post.user.id) || (locals.user && locals.user.id==comment.user.id )) { %>
        <div class="comment-delete-option">
            <i class="fa fa-ellipsis-h"></i>
            <a href="/comments/delete/<%= comment._id %>" class="delete-comment">Delete Comment</a>
        </div>

    <% } %>
</li>