<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/comments.css">
<div id="home-container">
    <div id="left-aside"></div>
    <div id="main-container">
        <% if(locals.user) { %>  
        
            <form action="/posts/create" method="Post" id="new-post-form" style="margin:0px 100px;">
                <textarea name="content"  cols="30" rows="10" placeholder="Type here .. "></textarea>
                <input type="hidden" name="user" value="<%= locals.user._id %>" >
                <button type="submit">Post</button>
            </form>
            
        <% } %> 

        

        <%-include('posts');-%>
    </div>
    <div id="right-aside">
        
        <%- include('right_aside'); -%>
    </div>
    
    <%- include('chatbox'); -%>
</div>
<script src="/js/post_comments.js"></script>
<script src="/js/posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user) { %>
    <script>
        new ChatEngine('user-chat-box','<%=locals.user.email%>');
    </script>
<% } %>
