<div id="posts-container" style="margin: 20px;">
    <ul>
        <% for(post of posts) { %> 

            <li class="post" id="post-<%= post._id %>">
                <p style="display: inline-block;"><%= post.content %></p>
                <p style="display: inline-block;font-weight: bolder;"><%= post.user.name %></p>

               <% if(locals.user && locals.user.id == post.user.id) { %>
                    <a href="/posts/delete/<%= post._id %>" class="delete-post" >Delete post</a>
               <% } %>

               <div id="comment-container">
                   <% if(locals.user) { %>
                    
                    <form action="/comments/create" method="POST" id="new-<%= post._id %>-comment-form" >
                        <input type="text" name="content" placeholder="Add comment .." required>

                        <input type="hidden" name="user" value="<%= locals.user._id %>" >
                        <input type="hidden" name="post" value="<%= post._id%>" >

                        <button type="submit">Add Comment</button>
                    </form>

                    <% } %>

                    <ul id="post-comments-<%= post._id %>" >

                    <% for(comment of post.comments) { %> 
                        
                        <li id="comment-<%= comment._id %>" id="comment-<%= comment._id %>">
                            <p style="color: orangered;display: inline-block;"><%= comment.content %></p>
                            <p style="color: lime;display: inline-block;"><%= comment.user.name %></p>

                            <%if ((locals.user && locals.user.id==post.user.id) || (locals.user && locals.user.id==comment.user.id )) { %>

                                <a href="/comments/delete/<%= comment._id %>" class="delete-comment">Delete Comment</a>

                            <% } %>
                        </li>
                        
                    <% } %>

                    </ul>
                   
               </div>
                
            </li>
            
        <% } %>
    </ul>


</div>
