<div id="posts-container" style="margin: 20px;">
    <ul id="post-ul">
        <% for(post of posts) { %> 

            <li class="post" id="post-<%= post._id %>">
                
                <div class="username-delete-container">
                    <div>
                        <div class="user-avatar-posts" style="padding: 1px;">
                            <% if(post.user.avatar) { %>
                                <img src="<%=post.user.avatar%>" alt="<%=post.user.name%>" height="100%" width="100%" style="border-radius: 50%;">
                            <% } %>
                        </div>
                        <h5 class="post-username"><%= post.user.name %></h5>
                    </div>
                    
                    <% if(locals.user && locals.user.id == post.user.id) { %>
                        <div class="post-delete-option">
                            <i class="fa fa-ellipsis-h"></i>
                            <a href="/posts/delete/<%= post._id %>" class="delete-post delete-post-<%=post._id %>" >Delete post</a>
                        </div>
                    <% } %>
                </div>
                <p class="post-content"><%= post.content %></p>
                
               

               <div id="comment-container">
                   <% if(locals.user) { %>
                    <div class="hr"></div>
                    <form action="/comments/create" method="POST" id="new-<%= post._id %>-comment-form" class="new-comment-form">
                        <input type="text" name="content" placeholder="Add comment as <%=locals.user.name%> .. " required>
                        <input type="hidden" name="user" value="<%= locals.user._id %>" >
                        <input type="hidden" name="post" value="<%= post._id%>" >

                        <button type="submit">Add Comment</button>
                    </form>

                    <% } %>

                    <ul id="post-comments-<%= post._id %>" class="comment-ul">

                    <% for(comment of post.comments) { %> 
                        
                        <%-include('comments');-%>
                        
                    <% } %>

                    </ul>
                   
               </div>
                
            </li>
            
        <% } %>
    </ul>


</div>
